# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Data folder
data/*
!data/.gitkeep

# Models folder
models/*
!models/.gitkeep
